<table>
  <tr><td><%= link_to 'Cars', cars_path %></td></tr>
  <tr><td><%= link_to 'Ships', ships_path %></td></tr>
  <tr><td><%= link_to 'Aircrafts', aircrafts_path %></td></tr>
</table>
<p></p>
<%= link_to button_tag('New object'), new_path %>
