<table>
  <tr><td><h2><%= link_to 'Cars', cars_path %></h2></td></tr>
  <tr><td><h2><%= link_to 'Ships', ships_path %></h2></td></tr>
  <tr><td><h2><%= link_to 'Aircrafts', aircrafts_path %></h2></td></tr>
</table>
